/* añadir estilo */
*{
    
    font-family: inter;
    font-size: 1.1rem;
}
body{
    background-color: #5EAFEA;
    margin: 0;
}

nav{
     display: flex;
     align-items: center;
     justify-content: center;
     height: 35px;
     position: relative;
     color: white;
     background-color: black;
    
}
nav #dic{
    position: absolute;
    right: 20px;
}
#logo a{
    text-decoration: none;
    color: white;
}

#checkboxes{
     margin: 50px 0;
     display: flex;
     align-items: center;
     justify-content: center;
     height: 35px;
     position: relative;
     color: white;
     
}

 

.modo {
    height: 3rem;
    line-height: 2.8em;
    width: 25%;
    text-align: center;
    margin: 0 2.5%;
    background-color: gray ;
    transition: background-color 0.3s;
    border-radius: 50px;
    border: solid black 3px;
}

.checkboxModo{
    cursor: pointer;
}

#chHanzi{
    display: none;
}
#chHanzi:checked + #divchHanzi{
    background-color: black;
}

#chPinyin{
    display: none;
}
#chPinyin:checked + #divchPinyin{
    background-color: black;
}

#chEspanol{
    display: none;
}
#chEspanol:checked + #divchEspanol{
    background-color: black;
}

#informacion{
    width: 75%;
    text-align: center;
    margin: 5% 12.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
    border: solid black 5px;
}

#hanzidiv{
    height: 10rem;
    width: 100%;
    line-height: 10rem;
    padding: 0;
    margin: 0;
    text-align: center;
    border-bottom: solid black 1px;
    
}

#hanzidiv *{
    height: 10rem;
    line-height: 10rem;
    padding: 0;
    margin: 0;
    
}
@media (max-width:650px){
#hanzi *{
    display: inline-block;
    width: 125px;
}
}

@media (max-width:650px){
#hanzi *{
    display: inline-block;
    width: 100px;
}
}

@media (max-width:450px){
#hanzi *{
    display: inline-block;
    width: 75px;
}
}

@media (max-width:350px){
    #hanzi *{
        display: inline-block;
        width: 46.5px;
    }
    }


#pinyindiv{
    height: 4rem;
    width: 100%;
    line-height: 4rem;
    padding: 0;
    margin: 0;
    border-bottom: solid black 1px;

}

#pinyindiv *{
    height: 4rem;
    line-height: 4rem;
    padding: 0;
    margin: 0;
}

#espanoldiv{
    height: 4rem;
    width: 100%;
    line-height: 4rem;
    padding: 0;
    margin: 0;
    border-bottom: solid black 5px;
}

#espanoldiv *{
    height: 4rem;
    width: 100%;
    line-height: 4rem;
    padding: 0;
    margin: 0;
}

#botondiv{
    height: 4em;
    width: 100%;
    
}

#boton{
    height: 3em;
    width: 33.3%;
    text-align: center;
    margin: 0.5em;
    background-color: black;
    color: white;
    border-radius: 50px;
    
}